<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lm.myui_demo">

    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MyIndexActivity" />
        <activity android:name=".MyPopActivity" />
        <activity android:name=".MyRoundActivity" />
        <activity android:name=".MyRoundLayoutActivity" />
        <activity android:name=".MyRecyclerActivity" />
        <activity android:name=".MyUnevenActivity" />
        <activity android:name=".MyHFActivity" />
        <activity android:name=".MyGuideActivity" />
        <activity android:name=".account.MyAccountActivity" />
        <activity android:name=".account.MyLoginActivity" />
        <activity android:name=".material.MaterialActivity" />
        <activity android:name=".material.MyBottomAppBarActivity" />
        <activity android:name=".material.MyBottomNavigationActivity" />
        <activity android:name=".material.MyBottomSheetBehaviorActivity" />
        <activity android:name=".material.MyBottomSheetDialogActivity" />
        <activity android:name=".material.MyButtonActivity" />
        <activity android:name=".material.MyCardViewActivity" />
        <activity android:name=".material.MyChipActivity" />
        <activity android:name=".material.MyDialogActivity" />
        <activity android:name=".material.MyFloatingActionButtonActivity" />

        <service android:name=".account.MyService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
    </application>

</manifest>